/* container section */

.verification-container {
  margin: 100px auto;
  width: 900px;

  grid-template-columns: 1fr;
  grid-template-rows:45px auto 100px;

  /* background-color: lightblue; */
  border: 1px solid #ab183d;
}
.verification-container .card-item {

}
.verification-container .verification {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: auto;
}
.verification-container .verification .title {
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #ab183d;
  font-size: 18px;
  color: #fff;
}
.verification-container .verification .content {
  text-align: start;
  padding: 0 50px;
}